/*......................
        fonts
 .................. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*......................
        common 
.......................style or utilites  */
body{
    font-family: 'Poppins', sans-serif;
    background:#F3F1FF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 21px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}
/*............................
    top players style 
........................  */
.top-players{
    margin-bottom: 30px;
}

.section-titel{
    color:blue;
    border: 2px solid gray;
    box-shadow: rgba(170, 163, 163, 0.973) 4px 4px 0px;
    border-radius: 15px;
    width: 22%;
    font-size: 23px; 
    margin-top: 2px;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
  }

.player img{
    width: 60px;
    height: 60px;  
}  
   
.player-name{
    margin: 16px;
    font-size: 18px;
    color:blue;
    box-shadow:skyblue 3px 3px;
    border: 2px solid 0px;
    border-radius: 8px;
    padding-left: 2px;
}

.player img:hover{
    transform: scale(1.8 );
    transition: .6s ease-in-out 0.2s;
/* ......................
      top blogs styles
 .....................*/

/* .blog{ */

}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    grid-row-gap: 28px;
}
.blog{
     
    display: flex;
}
.blog-info{
    margin-left: 18px;
}
.blog-titel{
    font-size: 18px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 15px;

}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/*-----------------
 courses styles
 --------------- */
  .courses{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 0px;
     margin: 10px;

 }
 .course .course-banner img{
        width: 245px;
        height: 120px;
  }
  .course-info{
      color: #A2A2A2;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
  }
  .fa-star{
      font-size: 12px;
  }
 .fa-star.filled{
     color: #FFC014;

 }
     .cource-duration{
         font-size: 12px;
         color: snow;
         background-color:pink;
         border-radius: 20px;
         padding: 4px;
     }
     .fa-star.empty{
        color: #AEAEAE; 
     }
 

    /*----------------------
           Media Queries
     ------------------------ */

     /* mobile Devices */
 @media only screen and (max-widht-688px) {
         .container{
             width: 100%;
         }    
          
         .players{
             background-color:red;
             grid-template-columns:repeat(1, 1fr) ;
         }
     }
    
